<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>M7k373n9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>m7k373n9Board.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>69BEE35C1AD8F32D00EBA81A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69BEE3711AD8F32D00EBA81A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69BEE3851AD8F35600EBA81A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
